/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: Arial, sans-serif;
	width: 100%; 
	margin: 0px auto;
}
nav{
	width: 1920px;
	height: 61px;
	background: #344051; 
	margin: 0px auto;
}
.logo {
	font-size: 23.4px;
	line-height: 61px;
	color: #ffffff;
	padding-left: 387px;
	float: left;
}
.menu {
	float: left;
	margin-left: 428px;
}
.menu_list li {
	font-size: 16px;
	line-height: 61px;
	color: #ffffff;
	float: left;
	margin-right: 40px;
	text-transform: uppercase;
}
.main{

	margin: 0px auto;
	width: 1920px;;
	height: 1067px;
	background: url('../img/paren.jpg') right no-repeat,url('../img/fon.jpg') center no-repeat;
}
.container{
	padding: 432px 0px 0px 300px;
	float: left;
	color: #2c384a;
	text-align: center;
}
.container h1{
font-size: 79.2px;
color: #2c384a;
font-weight: bold;
}
.container h4{
	font-size: 20.9px;
	color: #79818d;
	margin-top: 29px;
}
.container input{
	width: 126px;
	height: 42px;
	border: 0.5px solid #6d7682;
	border-radius: 5px;
	margin: 50px 26px 0px 0px;
	font-size: 18.9px;
	color: #6d7682;
}
.about_myself h3{
	width: 100%;
	font-size: 33.4px;
	color: #263244;
	text-align: center;
	padding:101px 0px 31px 0px;
	font-weight: bold;
	line-height: 172px;
	letter-spacing: -0.06em;
	background: url('../img/icons/line.png') 50% 80%  no-repeat;
}
.round_foto {
	height: 202px;
	background: url('../img/paren_grey.jpg')center no-repeat;
	margin-bottom: 22px;
}
.text{
	max-width: 734px;
	margin: 0px auto;
}
.text p{
	font-family: Calibri;
	font-size: 17.7px;
	line-height: 17.7px;
	letter-spacing: -0.06em;
	color: #3f495a; 
	text-align: left;
	float: top;
	margin-top: 40px;
}
.resume{
	width: 165px;
	height: 34px;
	border: 0.5px solid #6f707e;
	border-radius: 6px;
	display: block;
	line-height: 34px;
	font-size: 16.7px;
	letter-spacing: -0.06em;
	color: #6f707e; 
	margin: 33px auto;
	padding-left:10px;
}
.resume span{
	width: 100%;
	color: #6f707e;
	background: url('../img/icons/download.png') left no-repeat;
	padding-left: 23px;
}
.my_skills{
	width: 100%;
	height: 523px;
	background: url('../img/fon_2.jpg') top no-repeat;
	margin-top: 101px;
	padding-top: 107px;


}
.my_skills_list{
	max-width: 1200px;
	margin: 0px auto;
	display:block;

}
.my_skills_title{
	text-align: center;
	margin: 0px auto 31px auto;
	background: url('../img/icons/line.png')bottom no-repeat;
	padding-bottom: 31px;
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #263244;
}
.my_skills_list li{
	float: left;
	padding-left: 30px;
	text-align: center;
	margin: 0px 25px;
	padding-top: 33px;
}
.my_skills_list h5{
	font-family: Bahnschrift;
	font-size: 18.6px;
	padding-top: 75px;
	font-weight: 600;
	letter-spacing: -0.06em;
	color: #cf7600;
}
.my_skills_list p{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	padding-top: 15px
}
.my_skills_list li:nth-child(1) h5{
	background: url('../img/icons/nout.png')top no-repeat;
}
.my_skills_list li:nth-child(2) h5{
	background: url('../img/icons/znak.png')top no-repeat;
}
.my_skills_list li:nth-child(3) h5{
	background: url('../img/icons/raketa.png')top no-repeat;
}
.my_skills_list li:nth-child(4) h5{
	background: url('../img/icons/grammofon.png')top no-repeat;
}
.case{
margin-top: 103px;
}
.case_title{
	text-align: center;
}
.case_title h3{
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: -0.06em;
	color: #384354;
	background: url('../img/icons/line.png') bottom no-repeat;
	padding-bottom: 30px;
}
.case_title p{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	padding-top: 35px;
}


.case_img{
	width: 1169px;
	height: 592px;
	padding: 0% 50%;
	margin-top: 39px;
	background: url('../img/example.jpg') center no-repeat;
}
.case_list {
	margin: 0px auto;
	width: 1169px;
	margin-top: 39px;

}
.case li{
	float: left;

}
.case_list_right{
	width: 855px;
	margin-left: 80px;
	font-family: Calibri;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
}
.case_list_left{
	width: 220px;
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
}
.case_list h4{
	font-family: 'Franklin Gothic';
	font-size: 25px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #384354;
}
.case_list_left p{
	padding-top: 14px;
	}

.case_list_right p{
padding-top: 6px;
}
.case_list_link{
	margin-top: 22px;
	width: 201px;
	height: 44px;
	background-color: #63b5ae;
	border-radius: 5px;
	text-align: center;
	padding: 15px 0px;
}
.case_list_link span{
	font-family: 'Franklin Gothic';
	font-size: 20.9px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
}




.calculation{
	width: 956px;
	height: 687px;
	margin: 408px auto 0px auto;
}
.calculation_list h4{
	font-family: 'Franklin Gothic';
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #1c2534;
}
.calculation_list select{
	width: 891px;
	color: #737373;
	padding-left: 10px;
}
.type_index{
	height: 57px;
}
.disain{
	height: 57px;
}
.adaptive{
	height: 97px;
}

.calculation_list li{
	padding-top: 54px;
}
.calculation h2{
	text-align: center;
	font-family: 'Franklin Gothic';
	font-size: 45.9px;
	line-height: 1.2;
	font-weight: bold;
	letter-spacing: -0.06em;
	color: #1c2534;
}
.calculation_list span{
	font-family: 'Franklin Gothic';
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
}
.calculation_list h6{
	font-family: 'Franklin Gothic';
	font-size: 23px;
	line-height: 20px;
	font-weight: 100;
	letter-spacing: -0.06em;
	color: #1c2534;
	margin-bottom: 10px;
}
.calculation_list p{ 
	font-size: 23px;
	padding-top: 9px;
}
.calculation_left {
	display: inline-block;
	text-align: left;
}
.calculation_right {
	display: inline-block;
	text-align: right;
	margin-left: 751px;
}


.statistic{
	display:block;
	width: 1920px;
	background: url('../img/fon_3.jpg') center no-repeat; 
	height: 499px;
	margin: 154px auto 0px auto;
	text-align: center;

}
.statistic h3{
	text-align: center;
	font-family: 'Franklin Gothic';
	font-size: 33.4px; 
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #323e4f;
	padding-top: 103px;
	padding-bottom: 20px;
	background: url('../img/icons/line.png') bottom no-repeat;
}
.statistic_list{
	margin: 0px auto;
	padding-left: 280px;
}
.statistic_list li{
	float: left;
	padding: 40px 0px 0px 50px;
	margin-left: 90px; 
}
.statistic_list h4{
	font-family: Impact;
	font-size: 37.5px;
	line-height: 20px;
	font-weight: 400;
	color: #323e4f;
	text-align: center;
	padding: 33px 50px 32px 0px;
}
.statistic_list p{
	font-family: 'Franklin Gothic';
	font-size: 16.7px;
	font-weight: 500;
	letter-spacing: -0.06em;
	padding-right: 38px;
}
.statistic li:nth-child(1){
	background: url('../img/icons/smayl.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(2){
	background: url('../img/icons/skobki.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(3){
	background: url('../img/icons/galochka.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(4){
	background: url('../img/icons/kubok.png') 50% 0%/auto no-repeat;
}/*
.reviews{
		border: 2px solid red;
	width: 100%;
	height: 600px;
}
.reviews h3{
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 35px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #243042;

	border: 2px solid red;
}*/