@font-face {
	font-family: 'Arial';
	src: url('../fonts/arial.eot');
	src: local('☺'), url('../fonts/arial.woff') format('woff'), url('../fonts/arial.ttf') format('truetype'), url('../fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('../fonts/arialbd.eot');
	src: local('☺'), url('../fonts/arialbd.woff') format('woff'), url('../fonts/arialbd.ttf') format('truetype'), url('../fonts/arialbd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/CALIBRI.eot');
	src: local('☺'), url('../fonts/CALIBRI.woff') format('woff'), url('../fonts/CALIBRI.ttf') format('truetype'), url('../fonts/CALIBRI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibrib.eot');
	src: local('☺'), url('../fonts/calibrib.woff') format('woff'), url('../fonts/calibrib.ttf') format('truetype'), url('../fonts/calibrib.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Franklin Gothic';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Impact';
	src: url('../fonts/impact.eot');
	src: local('☺'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
	font-family: Arial, sans-serif;
	width: 100%; 
	margin: 0px auto;
}
nav{
	width: 1920px;
	height: 61px;
	background: #344051; 
	margin: 0px auto;
}
.logo {
	font-size: 23.4px;
	line-height: 61px;
	color: #ffffff;
	padding-left: 387px;
	float: left;
	animation: commming 2s;
}
/*Анимация логотипа*/
@keyframes commming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.menu {
	float: left;
	margin-left: 428px;
}
.menu_list li {
	font-size: 16px;
	line-height: 61px;
	color: #ffffff;
	float: left;
	margin-right: 30px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	animation: shifting 1.8s ease forwards;
	opacity: 0;
}
/*Анмация меню*/
.menu_list li:nth-child(1){
	animation-delay: 0.3s;
}
.menu_list li:nth-child(2){
	animation-delay: 0.6s;
}
.menu_list li:nth-child(3){
	animation-delay: 0.9s;
}
.menu_list li:nth-child(4){
	animation-delay: 1.2s;
}
.menu_list li:nth-child(5){
	animation-delay: 1.5s;
}
.menu_list li:nth-child(6){
	animation-delay: 1.8s;
}
@keyframes shifting{
	from{
		opacity: 0;
		margin-top: -90px;
	}
	to{
		opacity: 1;
		margin-top: 0px;
	}
}
.menu_list li a{
	padding: 5px 10px;
}
.menu_list li a:visited{
	color: white;
}
.menu_list li a:hover{
	color: #e88604;

}
/*Анимация меню*/
.menu_list li:hover{
	transform: scale(1.3,1.3);
}
.main{

	margin: 0px auto;
	width: 1920px;;
	height: 1067px;
	background: url('../img/paren.png') right no-repeat,url('../img/fon.jpg') center no-repeat;
}
.container{
	margin: 432px 0px 0px 300px;
	float: left;
	color: #2c384a;
	text-align: center;
	animation: titlemove 0.6s ease forwards;
	animation-delay: 2s;
	opacity: 0;
transform: scale(1.0);

}
.container h1{
font-size: 79.2px;
color: #2c384a;
font-weight: bold;
}
.container h4{
	font-size: 20.9px;
	color: #79818d;
	margin-top: 29px;
}
.container input{
	width: 126px;
	height: 42px;
	border: 0.5px solid #6d7682;
	border-radius: 5px;
	margin: 50px 26px 0px 0px;
	font-size: 18.9px;
	color: #6d7682;
	 -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
/*Анимация кнопок*/
.container input:hover{
	box-shadow: 0 0 40px 40px #344051 inset;
	color: white;
}
.container input:active{
	transform: scale(0.85);
}
@keyframes titlemove{
	from{
		opacity: 0;
		margin-left: -440px;
	}
	to{
		opacity: 1;
		margin-left: 305px;
	}
}
.about_myself h3{
	width: 100%;
	font-size: 33.4px;
	color: #263244;
	text-align: center;
	padding:101px 0px 31px 0px;
	font-weight: bold;
	line-height: 172px;
	letter-spacing: -0.06em;
	background: url('../img/icons/line.png') 50% 80%  no-repeat;
}
.round_foto {
	height: 202px;
	background: url('../img/paren_grey.jpg')center no-repeat;
	margin-bottom: 22px;
}
.text{
	max-width: 734px;
	margin: 0px auto;
}
.text p{
	font-family: Calibri;
	font-size: 17.7px;
	line-height: 17.7px;
	letter-spacing: -0.06em;
	color: #3f495a; 
	text-align: left;
	float: top;
	margin-top: 40px;
}
.resume{
	width: 165px;
	height: 34px;
	border: 0.5px solid #6f707e;
	border-radius: 6px;
	display: block;
	line-height: 34px;
	font-size: 16.7px;
	letter-spacing: -0.06em;
	color: #6f707e; 
	margin: 33px auto;
	padding-left:10px;
}
.resume span{
	width: 100%;
	color: #6f707e;
	background: url('../img/icons/download.png') left no-repeat;
	padding-left: 23px;
}
.resume a{
	 -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.resume:hover{
	box-shadow: 0 0 40px 40px #344051 inset;
	color: white;

}
/*Анимация кнопки+ смена цвета иконки*/
.resume:hover span{
	color: white;
	background: url('../img/icons/download.png') left no-repeat;
	filter: brightness(10);
}
.resume:active{
	transform: scale(0.85);
}
.resume:active span{
	background: url('../img/icons/download.png') left no-repeat;
	filter: brightness(10);
}
.my_skills{
	width: 100%;
	height: 523px;
	background: url('../img/fon_2.jpg') top no-repeat;
	margin-top: 101px;
	padding-top: 107px;


}
.my_skills_list{
	max-width: 1200px;
	margin: 0px auto;
	display:block;

}
.my_skills_title{
	text-align: center;
	margin: 0px auto 31px auto;
	background: url('../img/icons/line.png')bottom no-repeat;
	padding-bottom: 31px;
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 34px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #263244;
}
.my_skills_list li{
	float: left;
	padding-left: 30px;
	text-align: center;
	margin: 0px 25px;
	padding-top: 33px;
}
.my_skills_list h5{
	font-family: Bahnschrift;
	font-size: 18.6px;
	padding-top: 75px;
	font-weight: 600;
	letter-spacing: -0.06em;
	color: #cf7600;
}
.my_skills_list p{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	padding-top: 15px
}
.my_skills_list li:nth-child(1) h5{
	background: url('../img/icons/nout.png')top no-repeat;
}
.my_skills_list li:nth-child(2) h5{
	background: url('../img/icons/znak.png')top no-repeat;
}
.my_skills_list li:nth-child(3) h5{
	background: url('../img/icons/raketa.png')top no-repeat;
}
.my_skills_list li:nth-child(4) h5{
	background: url('../img/icons/grammofon.png')top no-repeat;
}
.case{
margin-top: 103px;
}
.case_title{
	text-align: center;
}
.case_title h3{
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 20px;
	font-weight: bold;
	letter-spacing: -0.06em;
	color: #384354;
	background: url('../img/icons/line.png') bottom no-repeat;
	padding-bottom: 30px;
}
.case_title p{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
	padding-top: 35px;
}


.case_img{
	width: 1169px;
	height: 592px;
	padding: 0% 50%;
	margin-top: 39px;
	background: url('../img/example.jpg') center no-repeat;
}
.case_list {
	margin: 0px auto;
	width: 1169px;
	margin-top: 39px; 
}
.case li{
	float: left;

}
.case_list_right{
	width: 855px;
	margin-left: 80px;
	font-family: Calibri;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
}
.case_list_left{
	width: 220px;
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #3f495a;
}
.case_list h4{
	font-family: 'Franklin Gothic';
	font-size: 25px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #384354;
}
.case_list_left p{
	padding-top: 14px;
	}

.case_list_right p{
padding-top: 6px;
}
.case_list_link{
	margin-top: 22px;
	width: 201px;
	height: 44px;
	background-color: #63b5ae;
	border-radius: 5px;
	text-align: center;
	padding: 15px 0px;
	 -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.case_list_link:hover{
	box-shadow: 0 0 40px 40px #344051 inset;
	color: white;
}
.case_list_link:active{
	transform: scale(0.85);
}
.case_list_link span{
	font-family: 'Franklin Gothic';
	font-size: 20.9px;
	line-height: 18px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
} 
.calculation{
	width: 100%;
	height: 687px;
	margin: 408px auto 0px auto;
	display:inline-block;
	text-align: center;
}
.calculation_list h4{
	font-family: 'Franklin Gothic';
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: #1c2534;

}
.calculation_list select{
	width: 891px;
	color: #737373;
	padding-left: 10px;
}
.type_index{
	height: 57px;
}
.disain{
	height: 57px;
}
.adaptive{
	height: 97px;
}

.calculation_list li{
	padding-top: 54px;
	text-align: left;
	display: inline-block;
	float: top;
	width: 956px;

}
.calculation h2{
	text-align: center;
	font-family: 'Franklin Gothic';
	font-size: 45.9px;
	line-height: 1.2;
	font-weight: bold;
	letter-spacing: -0.06em;
	color: #1c2534;
}
.calculation_list span{
	font-family: 'Franklin Gothic';
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.02em;
}
.calculation_list h6{
	font-family: 'Franklin Gothic';
	font-size: 23px;
	line-height: 20px;
	font-weight: 100;
	letter-spacing: -0.06em;
	color: #1c2534;
	margin-bottom: 10px;
}
.calculation_list p{ 
	font-size: 23px;
	padding-top: 9px;
}
.calculation_left {
	display: inline-block;
	text-align: left;
}
.calculation_right {
	display: inline-block;
	text-align: right;
	margin-left: 751px;
}


.statistic{
	display:block;
	width: 1920px;
	background: url('../img/fon_3.jpg') center no-repeat; 
	height: 499px;
	margin: 154px auto 0px auto;
	text-align: center;

}
.statistic h3{
	text-align: center;
	font-family: 'Franklin Gothic';
	font-size: 33.4px; 
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #323e4f;
	padding-top: 103px;
	padding-bottom: 20px;
	background: url('../img/icons/line.png') bottom no-repeat;
}
.statistic_list{
	margin: 88px auto 0px auto;
	padding-left: 280px;
}
.statistic_list li{
	float: left;
	padding: 40px 0px 0px 50px;
	margin-left: 90px; 
}
.statistic_list h4{
	font-family: Impact;
	font-size: 37.5px;
	line-height: 20px;
	font-weight: 400;
	color: #323e4f;
	text-align: center;
	padding: 33px 50px 32px 0px;
}
.statistic_list p{
	font-family: 'Franklin Gothic';
	font-size: 16.7px;
	font-weight: 500;
	letter-spacing: -0.06em;
	padding-right: 38px;
}
.statistic li:nth-child(1){
	background: url('../img/icons/smayl.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(2){
	background: url('../img/icons/skobki.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(3){
	background: url('../img/icons/galochka.png') 50% 0%/auto no-repeat;
}
.statistic li:nth-child(4){
	background: url('../img/icons/kubok.png') 50% 0%/auto no-repeat;
}
.reviews{ 
	width: 100%;
	text-align: center; 
}
.reviews h3{
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	line-height: 35px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #243042;
	background: url('../img/icons/line.png') bottom no-repeat;
	padding-bottom: 34px;
	margin-top: 104px;
}

.reviews li:nth-child(2){
	margin-top: 58px;
	background: url('../img/fotka.jpg')top no-repeat;
	padding-top: 130px;

}
.reviews li:nth-child(3){
	margin-top: 33px;
	font-family: Calibri;
}
.reviews li{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #243042;
}
.reviews_point{
	width: 100px;
	height: 30px;
	margin: 48px auto 0 auto;
}
.reviews_point li{
	float: left;
	width: 30px;
	height: 15px;
	padding-left: 15px;
	background: url('../img/icons/pointg.png') center no-repeat ;
}
.reviews_point li:hover{
	background: url('../img/icons/pointor.png') center no-repeat ;
}
/*Простая анимация точки*/
.contacts {
	width: 1920px;
	height: 808px;
	background: url('../img/fon_180.png') center no-repeat;
	margin: 91px auto 0px auto;
}
.contacts_title {
	margin: 0px auto;
	text-align: center;
	padding-top: 105px;
}
.contacts_title h3{
	font-family: 'Franklin Gothic';
	font-size: 33.4px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
	background: url('../img//icons/line.png') bottom no-repeat;
	padding-bottom: 28px;
}
.contacts_title p{
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #ffffff;
	margin-top: 25px;
}
.contacts_list {
	width: 800px;
	font-family: Calibri;
	font-size: 16.7px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.06em;
	color: #ffffff;
	margin: 50px auto 0px auto;
	display:block;
}
.contacts_list li{
	float: left;
	text-align: center;
	margin-left: 90px;
	padding-top: 30px;
}
.contacts_list span{
	color: white;
}
.contacts_list li:nth-child(1){
	background: url('../img/icons/geo_195.png') top no-repeat;

}
.contacts_list li:nth-child(2){
	background: url('../img/icons/konvert_196.png') top no-repeat;
}
.contacts_list li:nth-child(3){
	background: url('../img/icons/truba_197.png') top no-repeat;
}
.contacts_messege{
	font-family: 'Franklin Gothic';
	font-size: 20.9px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff; 
	margin: 40px auto 0px auto;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.contacts_forms {
	width: 100%;
	text-align: center;
	margin: 22px auto 0px auto;
	display: inline-block;

}
.contacts_forms li{
	flex: left;
	display: inline-block;
	font-size: 30px;
	padding:10px 0px 0px 30px;
}
textarea {
	resize: none;
}
.contacts_send {
	border-radius: 24px;
	text-align: center;
	margin-top: 35px;
	 -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.contacts_send span:hover{
	color: #d17700;
}
.contacts_send:active{
	transform: scale(0.85);
}
.contacts_send span{
	color: white;
	border-radius: 24px;
	height: 46px;
	border: 2px solid #f9faff;
	border-radius: 5px;
	font-family: 'Franklin Gothic';
	font-size: 20.9px;
	font-weight: 500;
	letter-spacing: -0.06em;
	color: #ffffff;
	padding: 10px 15px;
}
.contacts_socialnet {}
.map {
	background: url('../img/karta_kopiya_142.png')center no-repeat;
	width: 1920px;
	height: 356px;
	color: #000000;
	text-align: center;
}
.map p{
	font-family: Arial;
	font-size: 17.1px;
	font-weight: 700;
	letter-spacing: -0.06em;
	margin: 50px auto 0px auto;
	display:inline-block;
	background: white;
	border: 2px solid red;
	padding: 5px 10px;
}
.bottom {
	width: 1920px;
	height: 96px;
	color: white;
	background: #354051;
	text-align: center;
	margin: 0px auto;

}
.bottom p{
	height: 100%;
	padding-top: 30px;
}